<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loading.css') }}">
    <script src="{{ url_for('static', filename='js/loading.js') }}"></script>
</head>
<body>
    <div class="loading-container">
        <div class="loading-spinner"></div>
        <div class="loading-text">Loading...</div>
    </div>


</body>
</html>